.col-12 {
  padding: 0;
}
.form-sec {
  overflow: hidden;
}
.row {
  padding: 0px;
  margin: 0px;
}
.container-fluid {
  padding: 0px;
}
.col-8,
.col-4 {
  padding: 0;
}
.bg {
  background-image: url("../../images/Bitmap.png");
  position: relative;
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: 0;
}
.logo-line {
  position: relative;
}
.line-img {
  position: absolute;
  top: 150px;
  right: -129px;
}
.form-wrap {
  margin-top: 120px;
}
.form-group {
  margin-bottom: 0px;
}
.form-wrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.email-wrap {
  margin-top: 74px;
}
.pass-wrap {
  margin-top: 32px;
}
label {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

input[type="emailId"],
select {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  width: 300px;
  border-width: inherit;
  height: 40px;
  font-family: Montserrat Medium;
}
input[type="password"],
select {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 6.86px;
  color: #333333;
  opacity: 1;
  width: 300px;
  border-width: inherit;
  height: 40px;
  font-family: Montserrat Medium;
}
.btn-login {
  background: #b4ee0e 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #000000;
  margin-top: 65px;
  padding: 9px 36px 9px 36px;
  margin-left: 85px;
}